*~
*/*~
*.out
*.o
*.pdf
.vscode
gmon.out
Makefile.in
aclocal.m4
Makefile
depcomp
install-sh
missing
aclocal.*
compile
autom4*
config.*
configure
data/org.openprinting.Backend.FILE.service
.deps
*.swp
file
